<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - EduGestor</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        /* Estilos adicionales para la barra lateral */
        .sidebar {
            height: 100vh; /* Altura completa */
            background-color: #333; /* Color de fondo */
            padding: 20px; /* Espaciado interno */
            position: fixed; /* Fija la barra lateral */
        }

            .sidebar a {
                display: block;
                color: #fff;
                padding: 10px;
                text-decoration: none;
                font-weight: bold;
                border-radius: 5px; /* Bordes redondeados */
                transition: background-color 0.2s; /* Transición suave */
            }

                .sidebar a:hover, .sidebar a.active-link {
                    background-color: #F5F5F5; /* Color al pasar el mouse y para el enlace activo más claro que el fondo de la barra lateral */
                    color: #333; /* Asegurarse de que el texto sea visible */
                }

        /* Espaciado para el contenido principal */
        .main-content {
            margin-left: 250px; /* Ajustar según el ancho de la barra lateral */
            padding: 20px; /* Espaciado */
        }

    </style>
</head>
<body>
    @{
        // Definir currentController y currentAction aquí
        var currentController = ViewContext.RouteData.Values["controller"].ToString();
        var currentAction = ViewContext.RouteData.Values["action"].ToString();
    }

    @if (ViewBag.HideSidebar != true)
    {
        <div class="sidebar">
            @Html.ActionLink("Cuenta", "Index", "Cuenta", new { area = "" }, new { @class = "nav-link" })
            @Html.ActionLink("Dashboard", "AsignacionesProximas", "Dashboard", new { area = "" }, new { @class = "nav-link" + (currentController == "Dashboard" && currentAction == "AsignacionesProximas" ? " active-link" : "") })
            @Html.ActionLink("Cursos", "Index", "Cursos", new { area = "" }, new { @class = "nav-link" })
            @Html.ActionLink("Grupos", "Index", "Grupos", new { area = "" }, new { @class = "nav-link" })
            <!-- Añadir más botones según sea necesario -->
        </div>
    }
    <div class="main-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>


